@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Play;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 40.625rem;
  color: #000;
  position: relative;
}
.hero::before {
  position: absolute;
  content: url(../img/decor/line.png);
  bottom: -1.75rem;
  left: 70%;
}
@media screen and (max-width: 768px) {
  .hero::before {
    left: 85%;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3.125rem;
  background: url(../img/decor/headphones.png) right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 42%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url(../img/decor/headphones2.png) center center/contain no-repeat;
    margin-bottom: 3.4375rem;
  }
}

.hero__main-title {
  font-family: Play;
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 6%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 32px;
    padding: 0 8%;
    margin-bottom: 1.4rem;
  }
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 2.25rem;
  padding-right: 14%;
  line-height: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 12%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contacts-phone.header__contacts-phone {
    display: none;
  }
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.menu {
  margin: 0 1.875rem;
  padding-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts-phone {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Play;
}

.contacts-phone__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}

.contacts-phone__icon {
  flex-shrink: 0;
}

.contacts-phone__text {
  white-space: nowrap;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 1.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  width: 2.5625rem;
  margin-right: 0.6878rem;
  display: flex;
}

.feature__text {
  font-size: 16px;
  line-height: 1.125rem;
  max-width: 6.25rem;
  font-family: Play;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  font-family: Play;
  padding: 1.3125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  border: none;
  outline: none;
}
.btn--theme--red {
  background: #e01f3d;
  color: #fff;
}
.btn--theme--red:hover {
  background: #292929;
  color: #e01f3d;
}
.btn--theme--transparent {
  background: none;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #e01f3d;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  font-family: Play;
  color: #292929;
  margin-bottom: 3.125rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 32px;
  }
}

.headline {
  text-align: center;
  margin-bottom: 3.6875rem;
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 5rem;
  }
}

.headline__title {
  margin-bottom: 0.5rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .headline__title {
    margin-bottom: 0.2rem;
  }
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 32px;
    margin-bottom: 0.6rem;
  }
}

.headline__subtitle {
  font-family: Play;
  font-size: 16px;
  line-height: 19px;
  padding: 0 20%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 11%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 3%;
    font-size: 16px;
    line-height: 1.1875rem;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 1%;
  position: relative;
}
.benefits__item:nth-child(2) {
  padding: 0 1.6875rem;
}
@media screen and (max-width: 480px) {
  .benefits__item:nth-child(2) {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1875rem;
  }
}
.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 3.125rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
  margin-bottom: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
    margin-bottom: 2.5rem;
  }
}

.benefit__title {
  font-family: Play;
  font-weight: bold;
  font-size: 24px;
  color: #292929;
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5rem;
  }
}

.benefit__desc {
  font-family: Play;
  font-size: 16px;
  line-height: 1.1875rem;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.betefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 0.7rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.25rem;
  }
}

.benefits-section {
  position: relative;
}
.benefits-section::before {
  position: absolute;
  content: url(../img/decor/triangle.png);
  bottom: -1.375rem;
  left: 25%;
}
@media screen and (max-width: 768px) {
  .benefits-section::before {
    left: 5%;
  }
}

.reviews__display {
  background: #f8faf9;
  padding: 2.625rem;
  margin-bottom: 0.9375rem;
  position: relative;
  overflow: hidden;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -3.5625rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  padding: 2.1875rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding: 0;
  }
}

.reviews__title {
  font-family: Play;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.75rem;
  color: #292929;
  margin-bottom: 1.6875rem;
}

.reviews__text {
  font-family: Play;
  line-height: 19px;
  margin-bottom: 2.375rem;
  padding-right: 15%;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding-left: 0.5rem;
    padding: 0;
  }
}

.reviews__author {
  font-family: Play;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3125rem;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interectiv-avatar {
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.375rem;
}
.interectiv-avatar:hover {
  border: 0.25rem solid #e01f3d;
}
.interectiv-avatar:last-child {
  margin-right: 0;
}
.interectiv-avatar--active {
  border-color: #e01f3d;
}

.interectiv-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interectiv-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
}
.reviews-section:before {
  position: absolute;
  content: url(../img/decor/circle.png);
  bottom: -1.375rem;
  left: 25%;
}
@media screen and (max-width: 768px) {
  .reviews-section:before {
    left: 7%;
  }
}

.order-section {
  background: url("../img/decor/vector-smart-object.png");
}

.form {
  display: flex;
  font-family: Play;
  line-height: 1.3125rem;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 16%;
    margin-right: 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.4375rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.875rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__row:last-child {
    margin-bottom: 0.875rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 0.75rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1.125rem 0.75rem;
  border-radius: 0.25rem;
  border: 0.1875rem solid transparent;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.75rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
.form__controls:last-child {
  margin-right: 0.625rem;
}

.form__btns {
  display: flex;
  margin-top: 2.75rem;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  align-items: center;
  margin-right: 22px;
  -webkit-box-align: center;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icon/tick.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #e01f3d;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  padding-left: 0.625rem;
  padding-right: 1.0625rem;
}

.radio__controls {
  margin-top: 1rem;
}

.map-section {
  background: url("../img/decor/map.png") no-repeat;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
  border: 0.0625rem solid transparent;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.4375rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-menu__link:hover {
  border-radius: 50%;
  border: 0.0625rem solid #e01f3d;
}
.fixed-menu__link:hover:before {
  background: #e01f3d;
}

.hamburger {
  width: 26px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  right: 2.9%;
  top: 2.5%;
  margin-top: 0.375rem;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer-contacts__title {
  margin-bottom: 0.1875rem;
}
@media screen and (max-width: 480px) {
  .footer-contacts__title {
    margin-bottom: 0.75rem;
  }
}

.contacts {
  font-family: Play;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    margin-bottom: 0.625rem;
    flex-direction: column;
    align-items: center;
  }
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
  text-decoration: none;
  width: 1.875rem;
  height: 1.875rem;
  background: center center no-repeat;
  border-radius: 50%;
}
.socials__link--vk:hover {
  background: #292929;
}
.socials__link--instagram:hover {
  background: #292929;
}
.socials__link--facebook:hover {
  background: #292929;
}
.socials__link--tg:hover {
  background: #292929;
}