.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  width: 2.5625rem;
  margin-right: 0.6878rem;
  display: flex;
}
.feature__text {
  font-size: rem(16px);
  line-height: 1.125rem;
  max-width: 6.25rem;
  font-family: Play;
}
