.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}
.contacts-phone.header__contacts-phone {
  @include tablets {
    display: none;
  }
}
