.benefits-section {
  position: relative;

  &::before {
    position: absolute;
    content: url(../img/decor/triangle.png);
    bottom: -1.375rem;
    left: 25%;
    z-index: 10;

    @include tablets {
      left: 5%;
    }
  }
}
