.contacts-phone {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Play;
}

.contacts-phone__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
