.specifications {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.specifications__button {
  width: rem(91px);
  height: rem(91px);
  background: #9a9a9a;
  border-radius: rem(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.specifications__button-icon-elem {
  width: rem(42px);
  height: rem(42px);
  display: block;
}

.specifications__button-text {
  line-height: 1;
}

.specifications {
  &:hover {
    .specifications__button {
      background: #000;
    }
    .specifications__dropdown {
      left: 100%;
      opacity: 1;
    }
  }
}

.specifications__dropdown {
  color: #2f3234;
  position: absolute;
  left: rem(-9999px);
  top: 0;
  width: rem(273px);
  background: rgba(255, 255, 255, 0.8);
  border-radius: rem(5px);
  padding: rem(26px) rem(12px) rem(26px) rem(35px);
  transition: opacity 0.3s;
  opacity: 0;
  font-family: Play;
  line-height: 24px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 50%;
    width: rem(30px);
    left: rem(-29px);
  }
}

.specifications__table {
  width: 100%;
}

.specifications__icon {
  width: rem(24px);
  height: rem(24px);
}

.specifications__table-row {
  border-bottom: rem(28px) solid transparent;

  &:last-child {
    border-bottom: 0;
  }
}

.specifications__text-container {
  padding-left: rem(10px);
}

.specifications__table-cell {
  vertical-align: middle;
}

.specifications__text {
  font-family: Play;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
